{% extends 'blog/index.html' %}
{% load static%}
{% block title %}Customer Login{% endblock %}
{% block content %}
<div id="enquiry">
    <div class="section wow pulse"><br><br><br>
        <center>
            <h3>Thank you for shopping for</h3>
            <!-- <img src="{% static 'img/logo.png' %}" alt="" > -->
            <span style="font-size: 35px;font-weight: 400;    font-family: 'Lobster', cursive;">Chocolicious</span>
            <h3><b>We will inform you about your order state as soon as possible</b> </h3>
        </center>
    </div>
</div>
{% endblock %}